@{
    ViewBag.Title = "Home Page";
}

<h3>To Do List</h3>
<br />
<div class="row">
    <div>
        <section id="loginForm">
            <div class="form-group">
                <input type="submit" value="+ Add ToDo" class="btn btn-primary" style="font-size: 20px; margin-bottom: 20px;" onclick="addToDo()" />
            </div>
        </section>
    </div>
    <div class="modal" tabindex="-1" role="dialog" id="myModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add To Do</h5>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="todo-title" class="col-form-label">Title</label>
                            <input type="text" class="form-control" id="todo-title">
                        </div>
                        <div class="form-group">
                            <label for="todo-date" class="col-form-label">Date</label>
                            <input class="form-control" id="todo-date" type="date" />
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="saveToDo()">Save changes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <table id="myTable" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Status</th>
                <th>RecordNumber</th>
                <th>Title</th>
                <th>Due Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<script type="text/javascript">
    var myDataTable = null;
    var url = '';
    var toDoId = '';

    $(document).ready(function () {
        myDataTable = bindDatatable();
    });

    function showToDoModal() {
        $('#myModal').modal();
    }

    function addToDo() {
        url = "/ToDo/Create";
        showToDoModal();
    }

    function editToDo(title, dueDate, id) {
        url = "/ToDo/Edit";
        toDoId = id;
        showToDoModal();

        $("#todo-title").val(title);
        $("#todo-date").val(dueDate);
    }

    function deleteToDo(id) {
        url = "/ToDo/Delete";
        toDoId = id;
        swal({
            title: "Are you sure?",
            text: "Once deleted, you will not be able to recover this to do!",
            icon: "warning",
            buttons: true,
            dangerMode: true
        }).then((willDelete) => {
            if (willDelete) {
                saveToDo().then(() => {
                    swal("Poof! Your ToDo has been deleted!", {
                        icon: "success",
                    }).then(() => {
                        location.reload();
                    });
                });
            } else {
                swal("Your ToDo is safe!");
            }
        });
    }

    function saveToDo() {
        var title = $("#todo-title").val();
        var date = $("#todo-date").val();

        var parsedJson = JSON.stringify({ Title: title, DueDate: date, Id: toDoId });
        return $.ajax({
            type: "POST",
            url: url,
            contentType: "application/json; charset=utf-8",
            data: parsedJson,
            datatype: "json",
            success: function () {
                swal({
                    title: "Done",
                    text: "To do has been added",
                    icon: "success",
                    button: "Ok!"
                }).then(() => {
                    location.reload();
                });
                clearModal();
            },
            error: function () {
                swal({
                    title: "Error",
                    text: "Failed to save ToDo",
                    icon: "error",
                    button: "Ok!"
                }).then(() => {
                    location.reload();
                });
                clearModal();
            }
        });
    }

    function clearModal() {
        $("#todo-title").val(null);
        $("#todo-date").val(null);
        $('#myModal').modal('hide');
    }

    function ParseDateTime(date) {
        return new Date(date).toLocaleDateString('fr-CA');
    }

    function bindDatatable() {
        var datatable = $('#myTable')
            .DataTable({
                bServerSide: true,
                processing: true,
                ajax: "/ToDo/GetToDos",
                columnDefs: [
                    {
                        "targets": [0],
                        "visible": false
                    },
                    {
                        "targets": [1],
                        "visible": false
                    }
                ],
                columns: [
                    {
                        data: "Id"
                    },
                    {
                        data: "Status"
                    },
                    {
                        data: "RecordNumber",
                    },
                    {
                        data: "Title"
                    },
                    {
                        data: "DueDate"
                    },
                    {
                        data: "Action",
                        render: function () {
                            return '<button class="edit btn btn-primary"> Edit </button> ' +
                                '<button class="delete btn btn-danger"> Delete </button> ' +
                                '<button class="done btn btn-success"> <span class="glyphicon glyphicon-ok"></span> </button>';
                        }
                    }
                ]
            });
        return datatable;
    }

    $('#myTable').on('click', 'tr .edit', function (e) {
        var row = myDataTable.row($(this).closest('tr')).data();
        editToDo(row.Title, ParseDateTime(row.DueDate), row.Id);
    });

    $('#myTable').on('click', 'tr .delete', function (e) {
        var row = myDataTable.row($(this).closest('tr')).data();
        deleteToDo(row.Id);
    });

    $('#myTable').on('click', 'tr .done', function (e) {
        var row = $(this).closest('tr');
        var children = $(row).children();

        var items = $(children[3]).children();
        for (let i = 0; i < items.length; i++) {
            $(items[i]).css('display', 'none');
        }

        $(row).css('background', 'darkseagreen');
    });
</script>